project_id      = "meu-projeto-gcp"
region          = "southamerica-east1"
service_name    = "rotas-medicas"
container_image = "southamerica-east1-docker.pkg.dev/meu-projeto-gcp/rotas-medicas/app:SUBSTITUA_PELO_SHA"

allow_unauthenticated = true
llm_provider          = "local"
ollama_host           = "http://127.0.0.1:11434"
ollama_model          = "qwen2.5:1.5b"
max_instances         = 2
